NET  HR      LOC=F11      |   IOSTANDARD=LVCMOS33;   #LD5
NET  HY      LOC=F10      |   IOSTANDARD=LVCMOS33;   #LD4
NET  HG      LOC=G11      |   IOSTANDARD=LVCMOS33;   #LD3
NET  FR      LOC=U11      |   IOSTANDARD=LVCMOS33;   #LD2
NET  FY      LOC=N9      |   IOSTANDARD=LVCMOS33;   #LD1
NET  FG      LOC=M10      |   IOSTANDARD=LVCMOS33;   #LD0
NET  HLR     LOC=F12       |   IOSTANDARD=LVCMOS33;   #LD2
NET  HLY     LOC=C12       |   IOSTANDARD=LVCMOS33;   #LD1
NET  HLG     LOC=D12       |   IOSTANDARD=LVCMOS33;   #LD0
NET  PLR     LOC=N10			|   IOSTANDARD=LVCMOS33;
NET  PLY     LOC=V12			|   IOSTANDARD=LVCMOS33;
NET  PLG     LOC=T12			|   IOSTANDARD=LVCMOS33;

NET  clock   LOC=V10      |   IOSTANDARD=LVCMOS33; 
NET  cars    LOC=T10      |   IOSTANDARD=LVCMOS33;    #SW0
NET  reset   LOC=C9       |   IOSTANDARD=LVCMOS33;    #BTND
NET  Left   LOC=T9       |   IOSTANDARD=LVCMOS33;    #BTND
NET  Pedestrain   LOC=V9       |   IOSTANDARD=LVCMOS33;    #BTND


